<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Gạch Phú Mỹ</title>
	<link th:href="@{/img/favicon.ico}" rel="icon">
	<div th:replace="fragments/admin-header :: admin-header-css" />
</head>

<body>
	<div class="container-scroller">
		<div th:replace="fragments/admin-header :: admin-header" />
		<div class="container-fluid page-body-wrapper">
			<div th:replace="fragments/admin-header :: admin-change-background" />
			<div th:replace="fragments/admin-header :: admin-menu" />
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">

						<div class="col-md-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Thêm mới Logo</h4>
									<div th:if="${message}">
										<span class="text-danger" th:text=" ${message}"></span>
									</div>
									<form class="forms-sample" th:object="${logo}" th:action="@{/admin/logo/add}"
										method="post" enctype="multipart/form-data">
										<div class="form-group">
											<label for="exampleInputUsername1">First name</label>
											<input type="hidden" id="id" th:field="*{id}" />
											<input type="text" id="firstName" class="form-control"
												th:field="*{firstName}" required placeholder="Nhập first name"
												title="First name không được trống hoặc chứa kí tự đặc biệt">
										</div>
										<div class="form-group">
											<label for="exampleInputUsername1">Last name</label>
											<input type="hidden" id="title" th:field="*{id}" />
											<input type="text" id="lastName" class="form-control" th:field="*{lastName}"
												required placeholder="Nhập last name"
												title="Last name không được trống hoặc chứa kí tự đặc biệt">
										</div>
										<div class="form-group">
											<label for="exampleInputUsername1">Mô tả</label>
											<input type="text" id="description" class="form-control"
												th:field="*{description}" required placeholder="Nhập mô tả"
												title="Mô tả không được trống hoặc chứa kí tự đặc biệt">
										</div>
										<div class="form-group">
											<div>Vị trí hiển thị</div>
											<select th:field="*{position}" id="position" class="form-select">
												<option th:each="obj : ${logo.selectPositions}" th:value="${obj.key}"
													th:text="${obj.value}"></option>
											</select>
										</div>
										<div class="form-group">
											<div>Hình ảnh</div>
											<input type="hidden" th:field="*{image}">
											<input type="file" class="form-control" th:field="*{imageUpload}"
												placeholder="Chọn đường dẫn"
												accept="image/png, image/jpeg, image/jpg" />
										</div>
										<button type="submit" class="btn btn-success me-2">Lưu</button>
										<a class="btn btn-info me-2" th:href="@{/admin/logo}">Hủy</a>
										<a class="btn btn-success me-2" th:href="@{/admin}">Quay lại trang quản trị</a>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:replace="fragments/admin-footer :: admin-footer" />
			</div>
		</div>
	</div>
	<div th:replace="fragments/admin-footer :: admin-footer-js" />
</body>

</html>