<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<!--<!DOCTYPE html>-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gạch Phú Mỹ</title>
    <link th:href="@{/img/favicon.ico}" rel="icon">
    <div th:replace="fragments/admin-header :: admin-header-css"/>
</head>

<body>
<div class="container-scroller">
    <div th:replace="fragments/admin-header :: admin-header"/>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="fragments/admin-header :: admin-change-background"/>
        <div th:replace="fragments/admin-header :: admin-menu"/>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Thêm Nhật Ký Xe</h4>
                                <div th:if="${message}">
                                    <span class="text-danger" th:text=" ${message}"></span>
                                </div>
                                <form class="forms-sample" th:object="${nhatKyXe}"
                                      th:action="@{/admin/nhatKyXe/add}" method="post">
                                    <div class="form-group">
                                        <label>Ngày Chứng Từ</label>
                                        <input type="text" id="ngayChungTu" class="form-control formateDate" th:field="*{ngayChungTu}"
                                               required placeholder="Nhập Ngày Chứng Từ"
                                               title="Ngày Chứng Từ không được để trống">
                                    </div>
                                    <div class="form-group">
                                        <label>Số Phiếu</label>
                                        <input type="text" id="soPhieu" class="form-control" th:field="*{soPhieu}"
                                               placeholder="Nhập Số Phiếu"
                                               title="Số Phiếu không được trống hoặc chứa kí tự đặc biệt">
                                    </div>
                                    <div class="form-group">
                                        <label>Thiết Bị</label>
                                        <select th:field="*{maThietBi}" id="maThietBi" class="form-select">
                                            <option th:each="obj : ${nhatKyXe.thietBis}" th:value="${obj.maThietBi}"
                                                    th:text="${obj.tenThietBi}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Công Trình</label>
                                        <select th:field="*{maCongTrinh}" id="maCongTrinh" class="form-select">
                                            <option th:each="obj : ${nhatKyXe.congTrinhs}" th:value="${obj.maCongTrinh}"
                                                    th:text="${obj.tenCongTrinh}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Diễn Giải</label>
                                        <input type="text" id="moTa" class="form-control" th:field="*{moTa}"
                                               placeholder="Nhập Diễn Giải">
                                    </div>
                                    <div class="form-group">
                                        <label>Số Chuyến</label>
                                        <input type="text" id="soChuyen" class="form-control" th:field="*{soChuyen}"
                                               placeholder="Nhập Số Chuyến">
                                    </div>

                                    <div class="form-group">
                                        <label>Số KM</label>
                                        <input type="text" id="soKm" class="form-control" th:field="*{soKm}"
                                               placeholder="Nhập Số KM">
                                    </div>

                                    <div class="form-group">
                                        <label>Số Tấn</label>
                                        <input type="text" id="soTan" class="form-control" th:field="*{soTan}"
                                               placeholder="Nhập Số Tấn">
                                    </div>
                                    <div class="form-group">
                                        <label>Khối Lượng (Số Chuyến, Số KM, Số Tấn)</label>
                                        <input type="text" id="khoiLuong" class="form-control" th:field="*{khoiLuong}"
                                               placeholder="Nhập Khối Lượng">
                                    </div>

                                    <div class="form-group">
                                        <label>Đơn Giá (Chưa VAT)</label>
                                        <input type="text" id="donGia" class="form-control" th:field="*{donGia}"
                                               placeholder="Nhập Đơn Giá">
                                    </div>

                                    <div class="form-group">
                                        <label>VAT</label>
                                        <input type="text" id="vat" class="form-control" th:field="*{vat}"
                                               placeholder="Nhập VAT (Ví dụ 10% Nhập 10)">
                                    </div>
                                    <div class="form-group">
                                        <label>Giờ Bắt Đâu Ca Sáng</label>
                                        <input type="text" id="caSangStart" class="form-control formateDateTime" th:field="*{caSangStart}"
                                               placeholder="Nhập Giờ Bắt Đầu Ca Sáng"
                                               title="Giờ Bắt Đầu Ca không được để trống">
                                    </div>
                                    <div class="form-group">
                                        <label>Giờ Kết Thúc Ca Sáng</label>
                                        <input type="text" id="caSangEnd" class="form-control formateDateTime" th:field="*{caSangEnd}"
                                               placeholder="Nhập Giờ Kết Thúc Ca Sáng"
                                               title="Giờ Kết Thúc Ca không được để trống">
                                    </div>

                                    <div class="form-group">
                                        <label>Nhân Viên</label>
                                        <select th:field="*{maNhanVien}" id="maNhanVien" class="form-select">
                                            <option th:each="obj : ${nhatKyXe.nhanViens}" th:value="${obj.maNhanVien}"
                                                    th:text="${obj.tenNhanVien}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Khách Hàng</label>
                                        <select th:field="*{maKhachHang}" id="maKhachHang" class="form-select">
                                            <option th:each="obj : ${nhatKyXe.khachHangs}" th:value="${obj.maKhachHang}"
                                                    th:text="${obj.tenKhachHang}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Note</label>
                                        <input type="text" id="note" class="form-control" th:field="*{note}"
                                               placeholder="Nhập Note">
                                    </div>
                                    <button type="submit" class="btn btn-success me-2">Lưu</button>
                                    <a class="btn btn-info me-2" th:href="@{/admin/nhatKyXe}">Hủy</a>
                                    <a class="btn btn-success me-2" th:href="@{/admin}">Quay lại trang quản trị</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/admin-footer :: admin-footer"/>
        </div>
    </div>
</div>
<div th:replace="fragments/admin-footer :: admin-footer-js"/>
</body>

</html>
